
<div class="container">
    <nav class="navbar navbar-dark bg-dark">
        <ul class="nav nav-pills nav-fill">
            <li><button (click)="cart()" class="btn btn-dark" style="border: 2px">Cart</button></li>
            <li><button (click)="petList()" class="btn btn-dark" style="border: 2px">Pets</button></li>
            <li><button (click)="clientList()" class="btn btn-dark" style="border: 2px">Clients</button></li>
            <li><button (click)="employeeList()" class="btn btn-dark" style="border: 2px">Employees</button></li>
            <li><button (click)="saleList()" class="btn btn-dark" style="border: 2px">Sales History</button></li>
            <li><button (click)="logout()" class="btn btn-dark" style="border: 2px">Logout</button></li>
        </ul>
    </nav>
</div>
<br>