<app-debug-top-bar></app-debug-top-bar>
<div class="card">
  <div class="card-body"> 
    <div *ngIf="cartService.isAdmin() !=null">
        <div *ngIf="cartService.isAdmin() ; else elseBlock2"><app-admin-top-bar></app-admin-top-bar></div>
        <ng-template #elseBlock2><app-normal-top-bar></app-normal-top-bar></ng-template>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!--footer class="footer fixed-bottom">
  <div class="container">
    <span>This exercise was made by following the steps in the tutorial: </span>
    <a href="https://www.javaguides.net/2019/06/spring-boot-angular-7-crud-example-tutorial.html"> Javaguides</a>
  </div>
</footer>
  
<app-login></app-login>
<app-client-list></app-client-list-->
